<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>

<form th:method="POST" th:action="@{/apartments/search}">
    <label for="query">Введите поисковой запрос: </label>
    <input type="text" id="query" name="query"/>
    <br/>
    <input type="submit" value="Искать!"/>
</form>

<div th:if="${apartments}">
    <div th:if="${apartments.isEmpty()}">
        <span>Книг не найдено</span>
    </div>

    <div th:each="apartment : ${apartments}">
        <p th:text="${apartment.getTitle() + ', ' + apartment.getYear()}">apartment</p>

        <div th:if="${apartment.getOwner() != null}">
            <span>Книга сейчас у: </span> <span th:text="${apartment.getOwner().getFullName()}">Person Name</span>
        </div>

        <div th:if="${apartment.getOwner() == null}">
            <span>Книга свободна</span>
        </div>

        <hr/>
    </div>
</div>

</body>
</html>